# Build and IDE related

build/
cmake-build-*/
.idea/
tempCodeRunnerFile.*




# Latex extras

papers/*.aux
papers/*.log
papers/*.out
papers/*.toc
papers/*.fls
papers/*.fdb_latexmk
papers/*.synctex.gz



# Python 

__pycache__/
.venv/



# Generated data

*.csv
